<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<description>Quartz Configuration</description>
	
	<bean id="Job" class="com.gt.prison.common.job.Job"></bean>
	
	<bean id="schedulerDemo"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="KettleTraPolice"/>
				<ref bean="JreleVheEqu"/>
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="KTpolice" />
				<ref bean="TreleVheEqu" /> 
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>  


	<bean id="KettleTraPolice"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="Job" />
		<property name="targetMethod" value="doKettleTraPolice" />
	</bean>
	
	<bean id="JreleVheEqu"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="Job" />
		<property name="targetMethod" value="releVheEqu" />
	</bean>
	
<!-- 	<bean id="jobDetailDemo2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="testJob" />
		<property name="targetMethod" value="doTestJob2" />
	</bean> -->
	

	<bean id="KTpolice"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="KettleTraPolice" />
		<property name="cronExpression" value="0 */2 * * 1 ?" />
	</bean>
	
	<bean id="TreleVheEqu"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="JreleVheEqu" />
		<property name="cronExpression" value="0 */2 * * 1 ?" />
	</bean>

</beans>